<div class="headerComponent" ng-view>
  <div class="container">
    <div id="profileSection" class="container-fluid">
      <div id="profileHeaderDiv" class="container">
        <div class="row">
          <div class="col-sm-3">
            <!--<img src="https://profile.actionsprout.com/default.jpeg" width="200px" height="200px"/>-->
            <img src="https://cdn3.iconfinder.com/data/icons/business-round-flat-vol-1-1/36/user_account_profile_avatar_person_student_male-512.png"
                 width="200px" height="200px"/>
          </div>
          <div *ngIf="userData !== undefined" class="col-6 headerDetails">
            <h2 class="text-danger">{{userData.firstName}} {{userData.lastName}}</h2>
            <h5 *ngIf="showCity" class="text-secondary"><i class="fas fa-map-marker-alt"></i>   {{userData.city}}</h5>
          </div>
          <div class="col-sm-3 headerDetails">
            <a *ngIf="isOtherUserProfile !== true" routerLink="/profile/update"><i class="fas fa-1x fa-pencil-alt"></i>   Update profile</a><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
