<div class="headerComponent" ng-view>
  <div class="container">
    <div id="profileSection" class="container-fluid">
      <div id="profileHeaderDiv" class="container">
        <div class="row">
          <div class="col-3">
            <img src="https://profile.actionsprout.com/default.jpeg" width="200px" height="200px"/>
          </div>
          <div *ngIf="userData !== undefined" class="col-6 headerDetails borderRight">
            <h2 class="text-danger">{{userData.firstName}} {{userData.lastName}}</h2>
            <h5 *ngIf="addressNULL" class="text-secondary">{{userData.city}}</h5>
            <div>
              Reviews
              Photos
            </div>
          </div>
          <div class="col-3 headerDetails">
            <a routerLink="/profile/update"><i class="fas fa-1x fa-pencil-alt"></i>   Update profile</a><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
