<app-header></app-header>
<div class="container-fluid padding-around">
  <div class="row">
    <a routerLink="/admin" class="text-secondary padding"><i class="fas fa-chevron-left"></i>    Back</a>
  </div>
  <div class="row heading">
    <h2 class="heading text-danger">Reviews for restaurants</h2>
  </div>
  <table class="table table-striped table-responsive-lg">
    <thead>
    <tr>
      <th scope="col">Customer</th>
      <th scope="col">Restaurant name</th>
      <th scope="col">Content</th>
      <th scope="col">Rating</th>
      <th scope="col">Posted date</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let review of reviews" class="template">
      <!--<td *ngIf="review.customer.username === null">{{review.customer.emailId}}</td>-->
      <td><a routerLink="/user/{{review.customer.userId}}">
        <span *ngIf="review.customer.username !== null">{{review.customer.username}}</span>
        <span *ngIf="review.customer.username === null">{{review.customer.emailId}}</span></a></td>
      <td><a routerLink="/restaurant/{{review.restaurant.restaurantId}}">{{review.restaurant.name}}</a></td>
      <td>{{review.content}}</td>
      <td>{{review.rating}}</td>
      <td>{{review.age}}</td>
      <td class="wbdv-actions">
        <div class="float-right">
          <button (click)="deleteReview(review)" class="btn"><i id="wbdv-remove" class="fa-x fa fa-times wbdv-remove"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
