.app-header {
  background: #040505;
  color: aliceblue;
  width: 100%;
}


.app-title{
  font-family: "Avenir Next";
  font-weight: bold;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.link-title {
  padding: 10px;
  padding-right: 20px;

}

.icon-padding{
  padding-top: 3px;
  padding-right: 3px;
}
.text-padding{
  padding-left: 2px;
  padding-bottom: 5px;
}


.link-title:hover  {
  background-color:  #e9ecef;
  color: black;
}
.nav.nav-center {
  margin:0;
  float:none;
}

.navbar-inner{
  text-align:center;
}

i.wbdv {
  color: white;
}
