
<div class="footer-body" >
  <div class="app-title">
    <img src="/assets/images/logo_new.jpg" height="50px">
  </div>

  <hr/>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <ul>
        <div class="row">
        <li class="padding">
          About us
        </li >
        <li class="padding">
          Contact us
        </li>
        <li class="padding">
          Countries
        </li >
        <li class="padding">
          FAQs
        </li>
        <li class="padding">
          Policy
        </li>
        </div>
      </ul>
    </div>
  </div>
</div>
