<app-header></app-header>
<div class="row padding container-header">

</div>
<div class="padding inner-container">
<nav aria-label="breadcrumb padding">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a class="wbdv" (click)="back()">Back</a></li>
    <li *ngIf="restaurant !== undefined" class="breadcrumb-item active" aria-current="page">{{restaurant.name}}</li>
  </ol>
</nav>
  <div class="container">
    <div *ngIf="restaurant !== undefined" class="row">
      <img class="img-fluid img-thumbnail" src="{{restaurant.featured_image}}"
           onerror="if (this.src != 'error.jpg')
             this.src = 'https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'">
    </div>
    <div *ngIf="restaurant !== undefined" class="row">
      <div class="details-section">
        <h3 class="padding">{{restaurant.name}}</h3>
        <div class="row">
          <div class="col-sm-9 col-md-10 col-lg-10">
            <h6 *ngIf="restaurant.location !== undefined" class="text-secondary text-padding">{{restaurant.location.locality_verbose}}</h6>
          </div>
          <div class="col-sm-3 col-md-2 col-lg-2 float-right">
            <h5 class="text-padding">{{restaurant.user_rating.aggregate_rating}}/5</h5>
          </div>
        </div>

      </div>

      <div class="inner-container">

      </div>
      <div class="details-section padding">
        <ul class="nav nav-pills nav-justified">
          <li (click)="selectTab('info')" class="nav-item nav-link text-padding info-tab-layout wbdv"
              [ngClass]="{'active': isInfoTabClicked == true}">
            Information</li>
          <li (click)="selectTab('menu')" class="nav-item nav-link text-padding info-tab-layout wbdv"
              [ngClass]="{'active': isMenuTabClicked == true}">
            <!--<i class="material-icons">local_dining</i>-->
          Menu</li>
          <li (click)="selectTab('review')" class="nav-item nav-link text-padding info-tab-layout wbdv"
              [ngClass]="{'active': isReviewTabClicked == true}">
            Reviews</li>
          <!--<li  (click)="selectTab('reservation')" class="nav-item nav-link text-padding info-tab-layout wbdv"-->
               <!--[ngClass]="{'active': isReservationTabClicked == true}">-->
            <!--Reservation</li>-->
        </ul>

      </div>

      <div *ngIf="isInfoTabClicked" class="details-section padding">
        <div class=" nav-item nav-link text-padding info-tab-layout">
         <app-restaurant-information [restaurant]="restaurant"></app-restaurant-information>
        </div>
      </div>
      <div *ngIf="isMenuTabClicked" class="details-section padding">
        <div class=" nav-item nav-link text-padding info-tab-layout">
          <app-restaurant-menu [restaurant]="restaurant" [isOwner]="isOwner"></app-restaurant-menu>
        </div>
      </div>

      <div *ngIf="isReviewTabClicked" class="details-section padding">
        <div class=" nav-item nav-link text-padding info-tab-layout">
          <div *ngIf="isOwner !== true" class="padding">
            <div class="row padding">
                <h5>Write a review</h5>
            </div>
            <div class="row">
              <div class="col-3">
              <span>Rate your experience</span>
              </div>
              <div class="col-3 float-right">
                <ngb-rating [(rate)]="reviewRating"></ngb-rating>
              </div>

            </div>
            <div class="row padding">
                  <textarea name="formname" [(ngModel)] = "reviewContent" class="form-control" rows="2" placeholder="Add your experience of visiting this Restaurant">
              </textarea>


            </div>
            <div class="row padding">

                <button (click)="submitReview()" class="btn btn-outline-success">Submit</button>


            </div>
          </div>

          <div *ngIf="reviewList.length === 0 && isOwner !== true" class="padding">
            <h5 class="text-secondary">Sorry, no reviews found yet.
              But you can be the first one to rate this Restaurant!
            </h5>
          </div>

          <div *ngIf="reviewList.length === 0 && isOwner === true" class="padding">
            <h5 class="text-secondary">Sorry, no reviews found yet.
            </h5>
          </div>

          <div *ngIf="reviewList.length > 0" class="details-section padding">
            <div class="row padding">
              <h5 class="padding">See all reviews of this Restaurant</h5>
            </div>
            <div class="container minWidth">
              <ul *ngFor="let review of reviewList" class="list-group">
                <li class="list-group-item">
                  <div>
                    <div class="row">
                      <div class="col-sm-3 col-lg-3 col-md-4">
                        <img src="https://cdn3.iconfinder.com/data/icons/business-round-flat-vol-1-1/36/user_account_profile_avatar_person_student_male-512.png" height="90px" width="90px"/>
                        <p class="low-padding-date">{{review.age}}</p>
                      </div>
                      <div class="col-sm-12 col-lg-8 col-md-8">
                        <h5 class="name2"><a routerLink="/user/{{review.customer.userId}}"> {{review.customer.firstName}} {{review.customer.lastName}}</a></h5>
                        <!--<p>Reviews, Followers</p>-->
                        <!--<a href="#">Follow</a>-->
                        <div class="row">
                          <div class="col-sm-12 col-lg-11 col-md-11">
                          </div>
                          <div class="col-sm-1 col-md-1 col-lg-1 float-right">
                            <p *ngIf="review.rating >  3 || review.rating ===  3 " class="text-success">{{review.rating}}/5</p>
                            <p *ngIf="review.rating < 3" class="text-danger">{{review.rating}}/5</p>
                          </div>
                        </div>
                        <div class="row low-padding contentPadding">
                          <p class="text-secondary">{{review.content}}</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </li>
              </ul>
            </div>


          </div>

        </div>
      </div>
      <div *ngIf="isReservationTabClicked" class="details-section padding">
        <div class=" nav-item nav-link text-padding info-tab-layout">
          <p> in reservation tab</p>
        </div>
      </div>

      <div class="details-section padding">
        <!--<h5>Restaurants you may like</h5>-->

      </div>

    </div>
  </div>
</div>

