<app-header></app-header>
<div class="row padding container-header">

</div>
<div class="padding inner-container">
<nav aria-label="breadcrumb padding">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Restaurants</a></li>
    <li *ngIf="restaurant !== undefined" class="breadcrumb-item active" aria-current="page">{{restaurant.name}}</li>
  </ol>
</nav>
  <div class="container">
    <div *ngIf="restaurant !== undefined" class="row">
      <img class="img-fluid img-thumbnail" src="{{restaurant.featured_image}}"
           onerror="if (this.src != 'error.jpg')
             this.src = 'https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'">
    </div>
    <div *ngIf="restaurant !== undefined" class="row">
      <div class="details-section">
        <h3 class="padding">{{restaurant.name}}</h3>
        <div class="row">
          <div class="col-10">
            <h6 *ngIf="restaurant.location !== undefined" class="text-secondary text-padding">{{restaurant.location.locality_verbose}}</h6>
          </div>
          <div class="col-2 float-right">
            <h5>{{restaurant.user_rating.aggregate_rating}}/5</h5>
          </div>
        </div>

      </div>

      <div class="inner-container">

      </div>
      <div class="details-section padding">
        <ul class="nav nav-pills nav-justified">
          <li (click)="selectTab('info')" class="nav-item nav-link text-padding info-tab-layout wbdv"
              [ngClass]="{'active': isInfoTabClicked == true}">
            Information</li>
          <li (click)="selectTab('menu')" class="nav-item nav-link text-padding info-tab-layout wbdv"
              [ngClass]="{'active': isMenuTabClicked == true}">
          Menu</li>
          <li (click)="selectTab('review')" class="nav-item nav-link text-padding info-tab-layout wbdv"
              [ngClass]="{'active': isReviewTabClicked == true}">
            Reviews</li>
          <li  (click)="selectTab('reservation')" class="nav-item nav-link text-padding info-tab-layout wbdv"
               [ngClass]="{'active': isReservationTabClicked == true}">
            Reservation</li>
        </ul>

      </div>

      <div *ngIf="isInfoTabClicked" class="details-section padding">
        <div class=" nav-item nav-link text-padding info-tab-layout">
         <app-restaurant-information [restaurant]="restaurant"></app-restaurant-information>
        </div>
      </div>
      <div *ngIf="isMenuTabClicked" class="details-section padding">
        <div class=" nav-item nav-link text-padding info-tab-layout">
          <app-restaurant-menu [restaurant]="restaurant"></app-restaurant-menu>
        </div>
      </div>

      <div *ngIf="isReviewTabClicked" class="details-section padding">
        <div class=" nav-item nav-link text-padding info-tab-layout">
          <div class="padding">
            <div class="row padding">
                <h5>Write a review</h5>
            </div>
            <div class="row">
              <div class="col-3">
              <span>Rate your experience</span>
              </div>
              <div class="col-3 float-right">
                <ngb-rating [rate]="reviewRating"></ngb-rating>
              </div>

            </div>
            <div class="row padding">
              <textarea class="form-control" rows="2" placeholder="Add your experience of visiting this RestaurantModelClient">
              </textarea>
            </div>
            <div class="row padding">

                <button class="btn btn-outline-success">Submit</button>


            </div>
          </div>
          <div class="row padding">
            <h5 class="padding">See all reviews of this RestaurantModelClient</h5>
            </div>
          <app-review-list></app-review-list>

        </div>
      </div>
      <div *ngIf="isReservationTabClicked" class="details-section padding">
        <div class=" nav-item nav-link text-padding info-tab-layout">
          <p> in reservation tab</p>
        </div>
      </div>

      <div class="details-section padding">
        <h5>Restaurants you may like</h5>

      </div>

    </div>
  </div>
</div>

