
.padding {
  padding: 15px;
}
.container-header {
width: 100%;
}
.breadcrumb {
  width: 100%;
  background-color: #f7f7f7;
}
.inner-container {
  background-color: #f7f7f7;
}
.img-fluid {
  width: 80%;
  height: 350px;
}
.details-section {
  background-color: white;
  width: 80%;
  height: auto;
}
.text-padding {
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 5px;
}
.restaurant-info-tab {
  background-color: white;
}
