
<div class="container-fluid login-form-body">

  <div class="row form-padding">
  <div class="text-danger float-left"
       *ngIf="loginFailureMessage !== undefined || loginFailureMessage !==''">
    {{loginFailureMessage}}</div>
  </div>

  <div class="row form-padding">

    <div class="col-sm-12 col-md-3 col-lg-3">
      <label for="username"><h5>Username</h5></label>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9" (keypress)="clear()">
      <input [(ngModel)]="this.username" id="username"
             class="form-control" placeholder="Username">
    </div>
  </div>

  <div class="row form-padding">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <label for="password"><h5>Password</h5></label>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9" (keypress)="clear()">
      <input [(ngModel)]="this.password" type="password" id="password"
             class="form-control" placeholder="Password">
    </div>

  </div>
  <div class="row form-padding justify-content-center">
    <div class="col-sm-12 col-md-7 col-lg-4 padding">
      <button (click)="login(c)" type="button" class="btn btn-block btn-success ">Login
      </button>
    </div>

  </div>

  <div class="row form-padding or justify-content-center">
    <div class="col-1 or">
      <h5>OR</h5>
    </div>
  </div>
  <div class="row form-padding justify-content-center">

            <div class="col-sm-12 col-md-7 col-lg-4 padding">
              <button class="btn btn-block btn-danger" (click)="socialSignIn('google', c)">
                <i class="fab fa-google"></i> Sign in with Google
              </button>
            </div>

  </div>
  </div>





