<div ng-view>
  <div class="container">
    <div class="container">
      <div class="row">
        <div id="filters-font-size" class="col-3">
          <h4>Name's profile</h4>
          <ul>
            <li><a (click)="showProfileOverview()">Profile Overview</a></li>
            <li><a (click)="showProfileFriends()">Friends</a></li>
            <li><a (click)="showProfileReviews()">Reviews</a></li>
            <li><a (click)="showProfileFollowers()">Followers</a></li>
            <li><a (click)="showProfileFollowing()">Following</a></li>
            <li><a (click)="showProfileInterests()">Interests</a></li>
          </ul>
        </div>
        <div class="col-6">
          <div *ngIf="profileOverview"><app-profile-overview></app-profile-overview></div>
          <div *ngIf="profileFriends"><app-profile-friends></app-profile-friends></div>
          <div *ngIf="profileReviews"><app-profile-reviews></app-profile-reviews></div>
          <div *ngIf="profileFollowers"><app-profile-followers></app-profile-followers></div>
          <div *ngIf="profilefollowing"><app-profile-following></app-profile-following></div>
          <div *ngIf="profileInterests"><app-profile-interests></app-profile-interests></div>
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>
  </div>
</div>
