<div ng-view>
  <div class="container">
    <div class="container">
      <div class="row">
        <div id="filters-font-size" class="col-3">
          <h4>Name's profile</h4>
          <ul>
            <li><a href="/profile">Profile Overview</a></li>
            <li><a href="#news">Friends</a></li>
            <li><a href="#contact">Reviews</a></li>
            <li><a href="#about">Followers</a></li>
            <li><a href="#about">Following</a></li>
            <li><a href="#about">Interests</a></li>
          </ul>
        </div>
        <div class="col-6">
          body for showing content
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>
  </div>
</div>
