<div class="container">
    <label for="password">Password</label>
    <div (keypress)="clear()">
      <input [(ngModel)]="password" type="password" id="password"
             class="form-control" placeholder="Password">
    </div>
    <label for="confirmPassword">Confirm Password</label>
    <div (keypress)="clear()">
      <input [(ngModel)]="confirmPassword" type="password" id="confirmPassword"
             class="form-control" placeholder="Confirm Password">

  </div>
  <div>
    <button (click)="updateUser()"
            id="updateBtn"
            class="btn btn-secondary">
      Update
    </button>
  </div>
</div>
