<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item">
      <div>
        <div class="row">
          <div class="col-sm-2">
            <img src="https://profile.actionsprout.com/default.jpeg" height="70px" width="70px"/>
          </div>
          <div class="col-sm-9">
            <h5>Name</h5>
            <p>Reviews, Followers</p>
            <a href="#">Follow</a>
          </div>
          <div class="col-sm-1">
            <p>4.5</p>
          </div>
          <p>age (date posted)</p>
        </div>
        <div class="row">
          <p>content</p>
        </div>
      </div>
    </li>
  </ul>
</div>
