.quick-search-panel{
  background-color: whitesmoke;
  padding: 20px;
  border-width: 0.4px;
  border-color: #f7f7f7;
  border-style: solid;
}
.quick-search-category{
  padding-left: 5px;
  padding-right: 5px;
}
