<div class="row quick-search-panel">
  <div class="col-sm-12 col-md-2 col-lg-2 quick-search-category">
    <button class="btn btn-outline-danger">Breakfast</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Lunch</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Cafe</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Bakery</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Dinner</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Nightlife</button>
  </div>

</div>

