<!--<div class="row">-->
  <!--<div *ngFor="let cuisine of cuisineData" class="col-sm-12 col-md-6 col-lg-4 quick-search-category">-->
    <!--<div class="card card-content">-->
      <!--<div (click)="search(cuisine.id)" class="card-body">-->
        <!--<strong>{{cuisine.name}}</strong>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="row">
  <div *ngFor="let cuisine of cuisineData; let i = index" [attr.data-index]="i"
       class="col-sm-12 col-md-6 col-lg-4 quick-search-category padding-around">
    <div (click)="search(cuisine.id)"  class="card text-center bg-dark text-white">
      <img class="card-img"
           src= "{{imageMap[i]}}"
           alt="Card image">
      <div class="card-img-overlay">
        <div class="row padding">

        </div>
        <div class="row padding">

        </div>
        <p class="card-text">
          <h3>{{cuisine.name}}</h3>
      </div>
    </div>
  </div>
</div>



