.quick-search-panel{
  background-color: whitesmoke;
  padding: 20px;
  border-width: 0.4px;
  border-color: #f7f7f7;
  border-style: solid;
}
.quick-search-category{
  padding: 5px;
}
.card-content:hover {
  background-color: #d6d8db;
}
