<div class="row quick-search-panel">
  <div class="col-sm-12 col-md-2 col-lg-2 quick-search-category">
    <button class="btn btn-outline-danger">American</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Mexican</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Thai</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Italian</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Indian</button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2">
    <button class="btn btn-outline-danger">Chinese</button>
  </div>

</div>

