<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="modal-title">The Food Explorer - Login or Sign up</span>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row justify-content-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-danger" [ngClass]="{'active': this.isLogin}">
        <input type="radio" name="options" id="option1" autocomplete="off" (click)="toggleLogin()"> Log In
      </label>
      <label class="btn btn-outline-danger" [ngClass]="{'active': this.isSignUp}">
        <input type="radio" name="options" id="option2" autocomplete="off" (click)="toggleSignup()"> Sign up
      </label>
    </div>
    </div>

      <div *ngIf="isLogin" class="padding">
        <app-login-form [c] = c></app-login-form>
      </div>
    <div *ngIf="isSignUp" class="padding">
    <app-registration [c] = c [loginFailureMessage] = this.loginFailureMessage></app-registration>
    </div>



  </div>
  <div class="modal-footer">
<span class="text-primary"></span>
  </div>
</ng-template>


  <li (click)="open(content)" class="padding">
    <button class="btn btn-outline-light padding"><span class="padding">Login or Register</span></button>
  </li>


