.dropdown{
  max-height: 180px;
}
.padding {
  padding: 6px;
}
.main-row {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#typeahead-format .active > a,
#typeahead-format .active > a:hover {
  color: #dc3545;
}


button.dropdown-item.active, .dropdown-item:active {
  color: #dc3545;
  text-decoration: none;
  background-color: #f8f9fa;
}

