

 <div class="form-inline main-row">
      <div class="padding">

        <input id="typeahead-format" type="text" [(ngModel)]="locationValue"
               (input)="fetchLocationsFromAPI($event.target.value)"
                             [ngbTypeahead]="fetchLocations" [resultFormatter]="formatter"
               placeholder="City Name" class="form-control"/>
      </div>
      <div class=" padding">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-light" id="dropdownBasic1"
                ngbDropdownToggle>{{selectedCategory}}
        </button>

        <div class="pre-scrollable dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="changeCategoryValue(category.name)" *ngFor="let category of categories"
                  class="dropdown-item">{{category.name}}
          </button>
        </div>
      </div>
      </div>

      <div class=" padding">
      <input [(ngModel)]="searchValue" placeholder="Restaurant Name" class="form-control"/>
      </div>
      <div class=" padding">
      <button (click)="search()"
              class="btn btn-danger">Search</button>
      </div>
    </div>




