<app-header></app-header>
<app-restaurant-category-search-panel></app-restaurant-category-search-panel>
<h2 class="container">
  Restaurants
</h2>
<div class="container">
  <div class="row">

    <!--<span class="border">-->
      <div class="col-3">
        One of three columns
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with checkbox">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with checkbox">
        </div>
      </div>

    <!--</span>-->

      <div class="col-6">
        One of three columns
        <ul class="list-group">
          <li class="list-group-item">
            <div>
              <div class="row">
                <div class="col-sm-3">Image</div>
                <div class="col-sm-7">Restaurant details</div>
                <div class="col-sm-2">Rating</div>
              </div>
              <div class="row">
                <div class="col-sm-3">Detail heading</div>
                <div class="col-sm-9">Details</div>

              </div>
              <div class="row">
                <!--<div class="col-sm">Call now</div>-->
                <!--<div class="col-sm">Reserve</div>-->
                <!--<div class="col-sm">Menu</div>-->
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
              </div>
            </div>
          </li>
          <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
          <!--<li class="list-group-item">Morbi leo risus</li>-->
          <!--<li class="list-group-item">Porta ac consectetur ac</li>-->
          <!--<li class="list-group-item">Vestibulum at eros</li>-->
        </ul>
      </div>

    <!--<span class="border">-->
      <div class="col-3">
        One of three columns
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with checkbox">
        </div>
      </div>
    <!--</span>-->
  </div>
</div>


