<app-header></app-header>
<h2 class="container">
  Restaurants
</h2>
<div class="container">
  <div class="row">

      <div class="col-3 border">
        Filter column
        <!--<div class="input-group mb-3">-->
          <!--<div class="input-group-prepend">-->
            <!--<div class="input-group-text">-->
              <!--<input type="checkbox" aria-label="Checkbox for following text input">-->
            <!--</div>-->
          <!--</div>-->
          <!--<input type="text" class="form-control" aria-label="Text input with checkbox">-->
        <!--</div>-->
        <!--<div class="input-group mb-3">-->
          <!--<div class="input-group-prepend">-->
            <!--<div class="input-group-text">-->
              <!--<input type="checkbox" aria-label="Checkbox for following text input">-->
            <!--</div>-->
          <!--</div>-->
          <!--<input type="text" class="form-control" aria-label="Text input with checkbox">-->
        <!--</div>-->
      </div>

      <div class="col-7">
        <ul class="list-group">
          <li class="list-group-item">
            <div>
              <div class="row" id="restaurant-list-details-header-row1">
                <div class="col-sm-3">
                  <img src="https://www.goodfood.com.au/content/dam/images/h/0/f/a/q/i/image.related.wideLandscape.940x529.h0fa4n.png/1515456591895.jpg"
                       class="rounded float-left"
                       height="120" width="145" />
                </div>
                <div class="col-sm-7">

                  <h2 id="restaurant-list-details-name-row1" >Giacomos</h2>
                  <h6>North End</h6>
                  <p id="restaurant-list-details-address-row1">355 Hanover Street, Boston 02113</p>

                </div>
                <div class="col-sm-2">
                  <p id="restaurant-list-details-rating-row1" class="rounded float-right">3.6</p>

                </div>
              </div>
              <div class="row container-fluid">
                <dl class="row">
                  <dt id="restaurant-list-description-cuisines-row2" class="col-sm-3">Cuisines</dt>
                  <dd class="col-sm-9">Italian</dd>

                  <dt id="restaurant-list-description-cost-row2" class="col-sm-3">Cost for two</dt>
                  <dd class="col-sm-9">$55</dd>

                  <dt id="restaurant-list-description-timings-row2" class="col-sm-3">Hours</dt>
                  <dd class="col-sm-9">4:30PM to 10PM (Mon-Thu),5PM to 11PM (Fri-Sat), 4PM...</dd>
                </dl>
              </div>

              <div class="row container-fluid">
                <div class="col-sm">
                  <a id="restaurant-list-description-contact-button-row3" href="#">Contact</a>
                </div>
                <div class="col-sm">
                  <a id="restaurant-list-description-reserve-button-row3" ref="#">Reserve</a>
                </div>
                <div class="col-sm">
                  <a id="restaurant-list-description-menu-button-row3" href="#">Menu</a>
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>

      <div class="col-2 border">
        Ads column
        <!--<div class="input-group mb-3">-->
          <!--<div class="input-group-prepend">-->
            <!--<div class="input-group-text">-->
              <!--<input type="checkbox" aria-label="Checkbox for following text input">-->
            <!--</div>-->
          <!--</div>-->
          <!--<input type="text" class="form-control" aria-label="Text input with checkbox">-->
        <!--</div>-->
      </div>
  </div>
</div>


