<h2 id="profileHeading">Profile</h2>
<img src="https://profile.actionsprout.com/default.jpeg" width="200px" height="200px"/>
<div>file chooser</div>
<div>
  <label>First name</label>
  <div id="firstNameInput">
    <input [(ngModel)]="userData.firstName"
           placeholder="First name"
           class="form-control"/>
  </div>
  <label>Last name</label>
  <div id="lastNameInput">
    <input [(ngModel)]="userData.lastName"
           placeholder="Last name"
           class="form-control"/>
  </div>
  <label>Date of birth</label>
  <div class="form-group">
    <input [(ngModel)]="userData.dateOfBirth" type="date" class="form-control" id="dob">

    <!--<datepicker [(ngModel)]="userData.dateOfBirth" [viewFormat]="'MM/DD/YYYY'" [modelFormat]="'MM-DD-YYYY'"-->
                <!--[id]="'firstDate'" [label]="'To'"></datepicker>-->
    <!--<input class="form-control-plaintext" id="dob" type="date" [ngModel] ="dateOfBirth"-->
           <!--(ngModelChange)="dateOfBirth = $event">-->
    <!--<input class="form-control" value="{{userData.dateOfBirth| date:'MM-dd-yyyy'}}" readonly/>-->
    <!--<ngb-datepicker #dp [(ngModel)]="this.user.dateOfBirth" (navigate)="date = $event.next"></ngb-datepicker>-->
  </div>
  <label>Phone</label>
  <div id="phoneInput">
    <input [(ngModel)]="userData.mobileNumber"
           placeholder="Phone number"
           class="form-control"/>
  </div>
  <label>Bio</label>
  <div id="bioInput">
    <textarea [(ngModel)]="userData.bio"
           placeholder="Write about yourself"
           class="form-control">
    </textarea>
  </div>

  <div>
    <button (click)="updateUser()"
            id="updateBtn"
            class="btn btn-secondary">
      Update
    </button>
  </div>

</div>
