<h2 id="profileHeading">Profile</h2>
<img src="https://profile.actionsprout.com/default.jpeg" width="200px" height="200px"/>
<div>file chooser</div>
<div>
  <label>Username</label>
  <div id="usernameInput" >
    <input  [(ngModel)]="this.user.username"
           placeholder="Username"
           class="form-control"/>
  </div>
  <label>First name</label>
  <div id="firstNameInput">
    <input [(ngModel)]="this.user.firstName"
           placeholder="First name"
           class="form-control"/>
  </div>
  <label>Last name</label>
  <div id="lastNameInput">
    <input [(ngModel)]="this.user.lastName"
           placeholder="Last name"
           class="form-control"/>
  </div>
  <label>Phone</label>
  <div id="phoneInput">
    <input [(ngModel)]="this.user.mobileNumber"
           placeholder="Phone number"
           class="form-control"/>
  </div>
  <div>
    <button (click)="updateUser(user)"
            id="updateBtn"
            class="btn btn-secondary">
      Update
    </button>
  </div>

</div>
