<div>
  <ul class="list-group">
    <li *ngFor="let restaurant of restaurants" class="list-group-item">
      <div>
        <div class="row" id="restaurant-list-details-header-row1">
          <div class="col-sm-3">
            <img src={{restaurant.restaurant.thumb}}
                 onerror="if (this.src != 'error.jpg')
             this.src = 'https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'"

            class="rounded float-left"
                 height="120" width="145" />
          </div>
          <div class="col-sm-7">
            <h2 class="text-danger" routerLink="/restaurant/{{restaurant.restaurant.id}}" >
              {{restaurant.restaurant.name}}</h2>
            <h6>{{restaurant.restaurant.location.locality}}</h6>
            <p id="restaurant-list-details-address-row1">{{restaurant.restaurant.location.address}}</p>
          </div>
          <div class="col-sm-2">
            <p id="restaurant-list-details-rating-row1" class="rounded float-right">3.6</p>
          </div>
        </div>
        <div class="row container-fluid">
          <dl class="row">
            <dt id="restaurant-list-description-cuisines-row2" class="col-sm-4">Cuisines</dt>
            <dd class="col-sm-8">{{restaurant.restaurant.cuisines}}</dd>
            <dt id="restaurant-list-description-cost-row2" class="col-sm-3">Cost for two</dt>
            <dd class="col-sm-8">{{restaurant.restaurant.average_cost_for_two}} {{restaurant.restaurant.currency}}</dd>
          </dl>
        </div>
      </div>
    </li>
  </ul>
</div>
