<div>
  <ul class="list-group">
    <li *ngFor="let restaurant of restaurants" class="list-group-item">
      <div>
        <div class="row" id="restaurant-list-details-header-row1">
          <div class="col-sm-3">
            <img src={{restaurant.restaurant.thumb}}
                 class="rounded float-left"
                 height="120" width="145" />
          </div>
          <div class="col-sm-7">
            <h2 id="restaurant-list-details-name-row1" routerLink="/restaurant/{{restaurant.restaurant.id}}" >
              {{restaurant.restaurant.name}}</h2>
            <h6>{{restaurant.restaurant.location.locality}}</h6>
            <p id="restaurant-list-details-address-row1">{{restaurant.restaurant.location.address}}</p>
          </div>
          <div class="col-sm-2">
            <p id="restaurant-list-details-rating-row1" class="rounded float-right">3.6</p>

          </div>
        </div>
        <div class="row container-fluid">
          <dl class="row">
            <dt id="restaurant-list-description-cuisines-row2" class="col-sm-3">Cuisines</dt>
            <dd class="col-sm-9">{{restaurant.restaurant.cuisines}}</dd>
            <dt id="restaurant-list-description-cost-row2" class="col-sm-3">Cost for two</dt>
            <dd class="col-sm-9">{{restaurant.restaurant.average_cost_for_two}} {{restaurant.restaurant.currency}}</dd>
            <dt id="restaurant-list-description-timings-row2" class="col-sm-3">Hours</dt>
            <dd class="col-sm-9">4:30PM to 10PM (Mon-Thu),5PM to 11PM (Fri-Sat), 4PM...</dd>
          </dl>
        </div>

        <div class="row container-fluid">
          <div class="col-sm">
            <a id="restaurant-list-description-contact-button-row3" href="#">Contact</a>
          </div>
          <div class="col-sm">
            <a id="restaurant-list-description-reserve-button-row3" ref="#">Reserve</a>
          </div>
          <div class="col-sm">
            <a id="restaurant-list-description-menu-button-row3" href="#">Menu</a>
          </div>
        </div>

      </div>
    </li>
  </ul>
</div>
