.row-heading{
  padding-bottom: 7px
}

#restaurant-list-details-header-row2 {
  padding-bottom: 10px
 }

#restaurant-list-details-name-row1{
  color: #ff3c42
}

#restaurant-list-details-address-row1{
  color: #6c757d
}

#restaurant-list-details-rating-row1{
  background: #28a745;
  width: 40px;
  color: floralwhite;
  text-align: center;
}

#restaurant-list-description-cuisines-row2,#restaurant-list-description-cost-row2, #restaurant-list-description-timings-row2{
  color: #6c757d
}

#restaurant-list-description-contact-button-row3,
#restaurant-list-description-reserve-button-row3,
#restaurant-list-description-menu-button-row3{
  color: #6c757d;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}
#restaurant-list-description-contact-button-row3:hover,
#restaurant-list-description-reserve-button-row3:hover,
#restaurant-list-description-menu-button-row3:hover {
  background-color: #dddddd;
  color: black;
}
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

.padding-top {
  padding-top: 10px;
}

.low-padding {
  padding: 6px;
}
.no-padding {
  padding-left: 5px;
  padding-right: 5px;
}

#restaurant-list-details-header-row1{
  padding-bottom: 10px
}


#restaurant-list-details-address-row1{
  color: #6c757d
}

#restaurant-list-details-rating-row1{
  background: #28a745;
  width: 40px;
  color: floralwhite;
  text-align: center;
}

#restaurant-list-description-cuisines-row2,#restaurant-list-description-cost-row2, #restaurant-list-description-timings-row2{
  color: #6c757d
}

#restaurant-list-description-contact-button-row3,
#restaurant-list-description-reserve-button-row3,
#restaurant-list-description-menu-button-row3{
  color: #6c757d;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}
#restaurant-list-description-contact-button-row3:hover,
#restaurant-list-description-reserve-button-row3:hover,
#restaurant-list-description-menu-button-row3:hover {
  background-color: #dddddd;
  color: black;
}

.header{
  padding-top: 30px;
  padding-bottom: 20px;

  /*padding: 10px;*/
}

.filters{
  border-style: solid;
  border-width: 0.5px;
  border-color: #d6d8db;
  border-radius: 4px;
}
.font-new {
  font-size: 30px;
}
.padding-img {
  padding: 7px;
}
