<app-header></app-header>
<div ng-view>
  <div class="headerComponent">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-4 col-lg-3">
          <!--<img src="https://profile.actionsprout.com/default.jpeg" width="200px" height="200px"/>-->
          <img src="https://cdn3.iconfinder.com/data/icons/business-round-flat-vol-1-1/36/user_account_profile_avatar_person_student_male-512.png"
               width="200px" height="200px"/>
        </div>

        <div *ngIf="user !== undefined" class="col-sm-12 col-md-4 col-lg-6 headerDetails">
          <h2 class="text-danger">{{user.firstName}} {{user.lastName}}</h2>
          <h5 *ngIf="showCity" class="text-secondary"><i *ngIf="showCity" class="fas fa-map-marker-alt"></i>   {{user.city}}</h5>
        </div>

        <div class="restaurantBtn">
          <button class="btn btn-outline-danger  float-right"
                  *ngIf="!isValid"
                  routerLink="/restaurant/{{user.restaurant.restaurantId}}">
            Owned restaurant page
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container profileContentComponent">
    <div class="row-1">
      <div class="container input-width">
        <h2 id="profileHeading" class="text-danger">Profile</h2>
        <label>Username</label>
        <div class="padding">
          <input [(ngModel)]="user.username"
                 placeholder="Username"
                 class="form-control"/>
        </div>
        <label>First name</label>
        <div class="padding">
          <input [(ngModel)]="user.firstName"
                 placeholder="First name"
                 class="form-control"/>
        </div>
        <label>Last name</label>
        <div class="padding">
          <input [(ngModel)]="user.lastName"
                 placeholder="Last name"
                 class="form-control"/>
        </div>
        <label>Email</label>
        <div class="padding">
          <input [(ngModel)]="user.emailId"
                 placeholder="Email"
                 class="form-control"/>
        </div>
        <label>Phone</label>
        <div class="padding">
          <input [(ngModel)]="user.mobileNumber"
                 placeholder="Phone number"
                 class="form-control"/>
        </div>
        <label>City</label>
        <div class="padding">
          <input [(ngModel)]="user.city"
                 placeholder="City"
                 class="form-control"/>
        </div>
        <label>Country</label>
        <div class="padding">
          <input [(ngModel)]="user.country"
                 placeholder="Country"
                 class="form-control"/>
        </div>
        <div class="row-2">
          <div class="padding-btn">
            <button id="updateBtn"(click)="update()"
                    class="btn btn-secondary">
              Update
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
