<div class="container">
  <h4 class="padding">Your reviews</h4>
  <div class="listLength">
    <ul *ngFor="let review of user.reviews" class="list-group">
      <li class="list-group-item">
        <div>
          <div class="row">
            <div class="col-sm-3 col-lg-3 col-md-3">
              <img src="https://cdn3.iconfinder.com/data/icons/business-round-flat-vol-1-1/36/user_account_profile_avatar_person_student_male-512.png"
                   height="90px" width="90px"/>
              <p class="low-padding">{{review.age}}</p>
            </div>
            <div class="col-sm-9 col-lg-9 col-md-9">
              <!--<h5>{{review.user.firstName}} {{review.user.lastName}}</h5>-->
              <!--<p>Reviews, Followers</p>-->
              <!--<a href="#">Follow</a>-->
              <div class="row">
                <div class="col-sm-11 col-lg-11 col-md-11 name text-danger">
                  {{user.firstName}} {{user.lastName}}
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 float-right">
                  <div class="row float-right">
                  <p class="col-sm name">Rating</p>
                  <p *ngIf="review.rating >  3 || review.rating ===  3 " class="text-success col-sm">{{review.rating}}/5</p>
                  <p *ngIf="review.rating < 3" class="text-danger col-sm">{{review.rating}}/5</p>
                  </div>
                </div>
              </div>
              <div class="row paddingContent">
                <p class="text-secondary ">{{review.content}}</p>
              </div>
            </div>

          </div>
        </div>
      </li>
    </ul>
  </div>
