<ngb-carousel class="carousel slide" *ngIf="images">
  <div class="carousel-inner">

    <ng-template ngbSlide>
      <img class="d-block w-100" [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">

      </div>
      </ng-template>

   <ng-template ngbSlide>
       <img class="d-block w-100" [src]="images[1]" alt="Random second slide">
       <div class="carousel-caption">

       </div>
     </ng-template>
     <ng-template ngbSlide>
       <img class="d-block w-100" [src]="images[2]" alt="Random third slide">
       <div class="carousel-caption">

      </div>
    </ng-template>
  </div>
</ngb-carousel>


