
<div class="row">
  <!--<div class="col-sm-12 col-md-6 col-lg-6 padding">-->
    <!--<button class="btn btn-outline-primary" (click)="socialSignIn('facebook')">Sign in with Facebook</button>-->
  <!--</div>-->
  <div class="col-sm-12 col-md-6 col-lg-6 padding">
  <!--<button class="btn btn-social-icon btn-google" (click)="socialSignIn('google')"><i class="fa -google">-->
  <!--</i>Sign in with Google</button>-->

    <button class="btn btn-block btn-danger" (click)="socialSignIn('google')">
      <i class="fa fa-google"></i> Sign in with Google
    </button>
  </div>
</div>
