<div>
  Filters
  <h6>Sort by</h6>
  <a style="font-size: 15px" href="#">Popularity</a>
  <br/><a style="font-size: 15px" href="#">Rating</a>
  <br/><a style="font-size: 15px" href="#">Cost</a>
  <br/><a style="font-size: 15px" href="#">Recently added</a>

  <h6>Category</h6>
  <a style="font-size: 15px" href="#">Dine-In</a>
  <br/><a style="font-size: 15px" href="#">Delivery</a>
  <br/><a style="font-size: 15px" href="#">Drinks & Nightlife</a>
  <br/><a style="font-size: 15px" href="#">Take Out</a>

  <h6>Location</h6>
  <a style="font-size: 15px" href="#">City</a>

  <h6>Cuisine</h6>
  <a style="font-size: 15px" href="#">Pizza</a>
  <br/><a style="font-size: 15px" href="#">Sandwich</a>
  <br/><a style="font-size: 15px" href="#">Fast Food</a>
  <br/><a style="font-size: 15px" href="#">American</a>
  <br/><a style="font-size: 15px" href="#">Italian</a>
  <br/><a style="font-size: 15px" href="#">Donuts</a>
  <br/><a href="#">Chinese</a>
  <br/><a href="#">Breakfast</a>
  <br/><a href="#">Coffee & Tea</a>
  <br/><a href="#">Seafood</a>

  <h6>Establishment type</h6>
  <a href="#">Casual Dining</a>
  <br/><a href="#">Bakeries</a>
  <br/><a href="#">Quick bites</a>
  <br/><a href="#">Bars</a>
  <br/><a href="#">Cafes</a>
  <br/><a href="#">Fast food</a>
  <br/><a href="#">Fine Dining</a>
  <br/><a href="#">Wine Bars</a>
  <br/><a href="#">Coffee & Tea</a>
  <br/><a href="#">Seafood</a>

  <h6>Cost for Two</h6>
  <a href="#">Less than 20$</a>
  <br/><a href="#">20$ to 30$</a>
  <br/><a href="#">30$ to 50$</a>
  <br/><a href="#">$50+</a>
</div>
