<div>
  <h5 class="heading padding">Filters</h5>
  <div class="filter">
    <div class="padding">
      <h6 class="heading text-danger">Sort by</h6>
      <a class="heading text-secondary" (click)="sortByCostAsc()">Cost</a>
      <!--<br/><a style="font-size: 15px" (click)="sortByCost()">Cost</a>-->
      <br/><a class="text-secondary" (click)="sortByCostAsc()">Ascending</a>
      <br/><a class="text-secondary" (click)="sortByCostDesc()">Descending</a>
      <br/><a class="heading text-secondary" (click)="sortByRating()">Rating</a>
    </div>


  <div class="padding">
    <h6 class="heading text-danger">Category</h6>
    <div>
      <a class="text-secondary" (click)="searchCategoryDineIn()">Dine-In</a>
      <br/><a class="text-secondary" (click)="searchCategoryDelivery()">Delivery</a>
      <br/><a class="text-secondary" (click)="searchCategoryDrinks()">Drinks & Nightlife</a>
      <br/><a class="text-secondary" (click)="searchCategoryTakeout()">Take Out</a>
    </div>
  </div>

  <div class="padding">
    <h6 class="heading text-danger">Cuisine</h6>
    <div>
      <a class="text-secondary" (click)="cuisineAmerican()">American</a>
      <br/><a class="text-secondary" (click)="cuisineAsian()">Asian</a>
      <br/><a class="text-secondary" (click)="cuisineBakery()">Bakery</a>
      <br/><a class="text-secondary" (click)="cuisineBreakfast()">Breakfast</a>
      <br/><a class="text-secondary" (click)="cuisineCafe()">Cafe</a>
      <br/><a class="text-secondary" (click)="cuisineChinese()">Chinese</a>
      <br/><a class="text-secondary" (click)="cuisineDeserts()">Deserts</a>
      <br/><a class="text-secondary" (click)="cuisinefastFood()">Fast food</a>
      <br/><a class="text-secondary" (click)="cuisineFrench()">French</a>
      <br/><a class="text-secondary" (click)="cuisineFusion()">Fusion</a>
      <br/><a class="text-secondary" (click)="cuisineIndian()">Indian</a>
      <br/><a class="text-secondary" (click)="cuisineItalian()">Italian</a>
      <br/><a class="text-secondary" (click)="cuisineMexican()">Mexican</a>
    </div>
  </div>
  </div>
</div>
