<div>
  Filters
  <div>
    <h6>Sort by</h6>
    <div>
      <a style="font-size: 15px" href="#">Has online delivery</a>
      <br/><a style="font-size: 15px" href="#">Popularity</a>
      <br/><a style="font-size: 15px" href="#">Rating</a>
    </div>
  </div>

  <div>
    <h6>Category</h6>
    <div>
      <a style="font-size: 15px" (click)="searchCategoryDineIn()">Dine-In</a>
      <br/><a style="font-size: 15px" (click)="searchCategoryDelivery()">Delivery</a>
      <br/><a style="font-size: 15px" (click)="searchCategoryDrinks()">Drinks & Nightlife</a>
      <br/><a style="font-size: 15px" (click)="searchCategoryTakeout()">Take Out</a>
    </div>
  </div>


  <div>
    <h6>Cuisine</h6>
    <div>
      <br/><a style="font-size: 15px" (click)="cuisineAmerican()">American</a>
      <br/><a style="font-size: 15px" (click)="cuisineAsian()">Asian</a>
      <br/><a style="font-size: 15px" (click)="cuisineBakery()">Bakery</a>
      <br/><a style="font-size: 15px" (click)="cuisineBreakfast()">Breakfast</a>
      <br/><a style="font-size: 15px" (click)="cuisineCafe()">Cafe</a>
      <br/><a (click)="cuisineChinese()">Chinese</a>
      <br/><a (click)="cuisineDeserts()">Deserts</a>
      <br/><a (click)="cuisinefastFood()">Fast food</a>
      <br/><a (click)="cuisineFrench()">French</a>
      <br/><a (click)="cuisineFusion()">Fusion</a>
      <br/><a (click)="cuisineIndian()">Indian</a>
      <br/><a (click)="cuisineItalian()">Italian</a>
      <br/><a (click)="cuisineMexican()">Mexican</a>
    </div>
  </div>

  <div>
    <h6>Cost for Two</h6>
    <div>
      <a (click)="costLessThan20()">Less than 20$</a>
      <br/><a href="#">20$ to 30$</a>
      <br/><a href="#">30$ to 50$</a>
      <br/><a href="#">$50+</a>
    </div>
  </div>
</div>
