<app-header></app-header>
<div class="container">
  <div class="row">
    <a routerLink="/admin" class="text-secondary padding"><i class="fas fa-chevron-left"></i>    Back</a>
  </div>
  <div class="row heading">
    <h2 class="heading text-danger">Claimed restaurants</h2>
  </div>
  <table class="table table-striped table-responsive-lg">
    <thead>
    <tr>
      <th scope="col">Owner username</th>
      <th scope="col">Owner name</th>
      <!--<th scope="col">Owner last name</th>-->
      <th scope="col">Restaurant name</th>
      <th scope="col">Restaurant location Area</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let owner of owners" class="template">
      <td>{{owner.username}}</td>
      <td>{{owner.firstName}} {{owner.lastName}}</td>
      <td>{{owner.restaurant.name}}</td>
      <td>{{owner.restaurant.locationArea}}</td>
      <td class="wbdv-actions">
        <div class="float-right">
          <button (click)="deleteOwner(owner.userId)" class="btn"><i id="wbdv-remove" class="fa-x fa fa-times wbdv-remove"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
