<app-header></app-header>
<div class="container-fluid padding-around">
  <div class="row">
    <a routerLink="/admin" class="text-secondary padding"><i class="fas fa-chevron-left"></i>    Back</a>
  </div>
  <div class="row heading">
    <h2 class="heading text-danger">Claimed restaurants</h2>
  </div>
  <table class="table table-striped table-responsive-lg">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">First name</th>
      <!--<th scope="col">Owner last name</th>-->
      <th scope="col">Restaurant name</th>
      <th scope="col">Restaurant location Area</th>
      <th scope="col">Restaurant ID</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th><input [(ngModel)]="username" class="form-control" placeholder="Username"/></th>
      <th><input [(ngModel)]="password" class="form-control" type=password placeholder="Password"/></th>
      <th><input [(ngModel)]="firstName" class="form-control" placeholder="FirstName"/></th>
      <th><input [(ngModel)]="restaurantName" class="form-control" [ngClass]="{'form-control': !isEdit,
                        'form-control-plaintext': isEdit}"
                 [attr.readonly]=" isEdit ? '' : null" placeholder="Restaurant name"/></th>
      <th><input [(ngModel)]="restaurantLocation" class="form-control" [ngClass]="{'form-control': !isEdit,
                        'form-control-plaintext': isEdit}"
                 [attr.readonly]=" isEdit ? '' : null"
                 placeholder="Restaurant location"/></th>
      <th><input [(ngModel)]="restaurantId" class="form-control" [ngClass]="{'form-control': !isEdit,
                        'form-control-plaintext': isEdit}"
                 [attr.readonly]=" isEdit ? '' : null"
                 placeholder="Restaurant ID"/></th>
      <th>
        <span id="spanBtn1" class="float-right">
          <button (click)="updateUser()" class="btn" data-dismiss="alert" ><i class="fa-1x fa fa-check wbdv-update"></i></button>
        </span>
      </th>
      <th>
         <span id="spanBtn" class="float-right">
        <button (click)="createUser()" class="btn"><i class="fa-1x fa fa-plus wbdv-create"></i></button>
         </span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let owner of owners" class="template">
      <td>{{owner.username}}</td>
      <td>******</td>
      <td>{{owner.firstName}}</td>
      <td>{{owner.restaurant.name}}</td>
      <td>{{owner.restaurant.locationArea}}</td>
      <td>{{owner.restaurant.restaurantId}}</td>
      <td class="wbdv-actions">
        <div class="float-right">
          <button (click)="deleteOwner(owner.userId)" class="btn"><i id="wbdv-remove" class="fa-x fa fa-times wbdv-remove"></i></button>
        </div>
      </td>
      <td> <div class="float-right">
        <button (click)="renderUser(owner)" class="btn"><i class="fas fa-x fa-pencil-alt"></i></button>
      </div></td>
    </tr>
    </tbody>
  </table>
</div>
