
<div class="container">
  <div class="row padding">
    <span class="text-danger"><h5>Please upload image of Menu</h5></span>
  </div>
  <form class="md-form">
    <div class="file-field">
      <div class="z-depth-1-half mb-4">
      </div>
      <div class="d-flex">
        <div class="float-left">
          <div class="row">
            <div class="col-3">
              <label for="file" class="btn btn-secondary">Select Image</label>
            </div>

              <span *ngIf="fileToUpload !== null" class="padding">{{fileToUpload.name}}</span>
              <input class="form-control" style="visibility:hidden;" id="file" type="file"
                     (change)="handleFileInput($event.target.files)">
             </div>
            <div class="row">
              <div *ngIf="fileToUpload !== null" class="col-2">
                <button class="btn btn-outline-success" (click)="uploadFile()">Save Menu</button>
              </div>
            </div>

        </div>
      </div>
    </div>
  </form>
</div>

