
<div class="container">


  <div  *ngIf="showUpload === true" class="padding border-settings">
    <!--<div class="row padding">-->
    <!--<span *ngIf="showUpload === true" class="text-dark padding">-->
    <!--Please upload image of Menu</span>-->
    <!--</div>-->
    <div  *ngIf="showUpload === true" class="row padding">
      <span class="text-dark padding"><h5>Upload Image</h5></span>
    </div>
    <div class="row padding">
      <div class="padding" *ngIf="showUpload === true">

        <label for="file" class="btn btn-secondary">Select Image</label>

        <span *ngIf="fileToUpload !== null" class="padding">{{fileToUpload.name}}</span>
        <input class="form-control" style="visibility:hidden;" id="file" type="file"
               (change)="handleFileInput($event.target.files)">
      </div>
    </div>
    <div class="row padding">
      <div  *ngIf="showUpload === true"class="col-2 padding">
        <button class="btn btn-outline-success" (click)="uploadFile()">Save Menu</button>
      </div>
    </div>

  </div>


  <div class="row padding">
    <span class="text-danger padding"><h5>Menu details</h5></span>
    <div *ngFor="let media of mediaList">
      <div class="row padding">
        <img src="{{media.src}}" class="img-fluid img-thumbnail padding">
      </div>
      <button *ngIf="showUpload === true" (click)="deleteMedia(media.mediaId)"
              class="btn btn-outline-danger padding">Delete</button>
    </div>
  </div>
  <div class="row padding">
    <span *ngIf=" mediaList.length ===0" class="text-secondary">No Menu Available</span>
  </div>
</div>

