<app-header></app-header>
<app-home-cover-area></app-home-cover-area>
<div class="container">
  <div class="component-divider">
    <!--<app-main-search-panel></app-main-search-panel>-->
  </div>
  <div class="component-divider">
    <h4 class="text-danger">Check Restaurants through popular cuisines</h4>
    <app-home-quick-search></app-home-quick-search>
  </div>
  <div class="component-divider">
    <h4 class="text-danger">Good food is good mood</h4>
    <h6>Food you like, places you love. Find everything under one roof with The Food Explorer </h6>
    <!--<app-offers></app-offers>-->
  </div>

  <div class="component-divider">
    <h4>Register with us now!</h4>
    <!--<app-home-search-stories></app-home-search-stories>-->
  </div>
  <div class="component-divider"></div>

</div>
<app-footer></app-footer>
