<app-header></app-header>
<app-home-cover-area></app-home-cover-area>
<div class="container">
  <div class="component-divider">
  </div>
  <div class="component-divider">
    <h3 class="text-danger padding-bottom">Good Food is Good Mood!</h3>
    <h5 class="text-secondary padding-bottom">Food you like, places you love. Find everything under one roof with
      <span class="text-success padding-bottom"> <strong>The Food Explorer</strong> </span></h5>
    <div class="component-divider">
      <h4>Register with us now!</h4>
    </div>

  </div>

  <div class="component-divider">
    <h3 class="text-dark padding-bottom">Popular Cuisines in Boston</h3>
    <h6 class="text-secondary padding-bottom">Search restaurants through popular cuisines</h6>
    <app-home-quick-search></app-home-quick-search>
  </div>


  <div class="component-divider"></div>
  <div class="component-divider"></div>

</div>


<app-footer></app-footer>
