
<app-header></app-header>
<div ng-view>
  <div class="container">
    <div id="profileSection" class="container-fluid">

      <div class="row">
        <div class="col-3">
          <h4>{{this.user.firstName}}'s Account Settings</h4>
          <ul>
            <li><a [ngClass]="{'active': updateProfile == true}" (click)="showUpdateProfile()">Profile</a></li>
            <li><a [ngClass]="{'active': updatePassword == true}" (click)="showUpdatePassword()">Password</a></li>
            <li><a [ngClass]="{'active': updateEmail == true}" (click)="showUpdateEmail()">Email</a></li>
            <li><a [ngClass]="{'active': updateLocations == true}" (click)="showUpdateLocations()">Locations</a></li>
          </ul>
        </div>
        <div class="col-6">
          <div *ngIf="updateProfile"><app-update-profile-profile-tab [user] = 'user'></app-update-profile-profile-tab></div>
          <div *ngIf="updatePassword"><app-update-profile-password-tab [user] = 'user'></app-update-profile-password-tab></div>
          <div *ngIf="updateEmail"><app-update-profile-email-tab [user] = 'user'></app-update-profile-email-tab></div>
          <div *ngIf="updateLocations"><app-update-profile-locations-tab [user] = 'user'></app-update-profile-locations-tab></div>
        </div>
      </div>
    </div>
  </div>
</div>
