
<app-header></app-header>
<div ng-view>
  <div class="container">
    <div id="profileSection" class="container-fluid">

      <div class="row">
        <div class="col-3">
          <h4>{{this.user.firstName}}'s Account Settings</h4>
          <ul>
            <li><a (click)="showUpdateProfile()">Profile</a></li>
            <li><a (click)="showUpdatePassword()">Password</a></li>
            <li><a (click)="showUpdateEmail()">Email</a></li>
            <li><a (click)="showUpdateLocations()">Locations</a></li>
            <li><a (click)="showUpdateFriends()">Friends</a></li>
            <li><a (click)="showUpdatePrivacy()">Privacy Settings</a></li>
          </ul>
        </div>
        <div class="col-6">
          <div *ngIf="updateProfile"><app-update-profile-profile-tab></app-update-profile-profile-tab></div>
          <div *ngIf="updatePassword"><app-update-profile-password-tab></app-update-profile-password-tab></div>
          <div *ngIf="updateEmail"><app-update-profile-email-tab></app-update-profile-email-tab></div>
          <div *ngIf="updateLocations"><app-update-profile-locations-tab></app-update-profile-locations-tab></div>
          <div *ngIf="updateFriends"><app-update-profile-friends-tab></app-update-profile-friends-tab></div>
          <div *ngIf="updatePrivacySettings"><app-update-profile-privacy-settings-tab></app-update-profile-privacy-settings-tab></div>
        </div>
      </div>
    </div>
  </div>
</div>
