<div class="container">
  <h4>Want to know where your friends hangout?</h4>
  <h6 class="text-secondary heading">Connect with them now!</h6>
  <div class="row">
    <div class="col-sm">
      <input [(ngModel)]="firstName"
             placeholder="First name"
             class="form-control"/>
    </div>
    <div class="col-sm">
      <input [(ngModel)]="lastName"
             placeholder="Last name"
             class="form-control"/>
    </div>
    <div class="col-sm">
      <button (click)="searchUsers()" class=" btn btn-outline-danger">
        <i class="fas fa-search"></i>
      </button>
      <!--<button *ngIf="" (click)="deleteFollowing(user.userId)"-->
              <!--class="btn btn-outline-success float-right">-->
        <!--<i class="fas fa-times"></i>-->
      <!--</button>-->
    </div>
  </div>
  <br/>
  <div class="listLength">
    <ul *ngFor="let u of users" class="list-group">
      <li *ngIf="u.userId !== userData.userId" class="list-group-item">
        {{u.firstName}} {{u.lastName}}
        <button *ngIf="following.indexOf(u.userId) === -1"
                (click)="follow(u.userId)"
                class="btn btn-outline-success float-right">
          Follow
        </button>
        <p *ngIf="following.indexOf(u.userId) > -1" class="text-danger float-right">Following</p>
      </li>
    </ul>
  </div>
</div>
