<div class="container">
  <h4>Discover people</h4>
  <div class="row">
    <div class="col-sm">
      <input [(ngModel)]="firstName"
             placeholder="First name"
             class="form-control"/>
    </div>
    <div class="col-sm">
      <input [(ngModel)]="lastName"
             placeholder="Last name"
             class="form-control"/>
    </div>
    <div class="col-sm">
      <button (click)="searchUsers()" class=" btn btn-outline-success"><i class="fas fa-search"></i></button>
    </div>
  </div>
  <br/>
  <div>
    <ul *ngFor="let u of users" class="list-group">
      <li *ngIf="u.userId !== user.userId" class="list-group-item">
        {{u.firstName}} {{u.lastName}}
        <button (click)="follow(u.userId)" class="btn btn-outline-success float-right">
          <i class="fas fa-user-plus"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
