ul{
  padding-top: 5px;
  padding-bottom: 5px;
}

.heading{
  padding-bottom: 10px;
}

.listLength{
  max-width: 600px;
}

.name{
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}

.padding{
  padding-top: 20px;
}
