.info {
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.padding {
  padding: 3px;
}
.restaurant-list-details-rating-row1{
  background: #28a745;
  width: 40px;
  color: floralwhite;
  text-align: center;
}
